torch
torchvision
torchaudio
pytorch-lightning
timm
transformers
peft
bitsandbytes
accelerate
sentencepiece
pandas
scikit-learn
nibabel
opencv-python-headless
evaluate
rouge_score
sacrebleu
nltk
gradio
kagglehub
psutil
matplotlib
Pillow
kaggle